* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Poppins';
    
    background-color: #222;
    color: white;
    
    padding: 5px 10px;
    min-height: 100dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbarTop {
    display: flex;
    margin: 50px 0;
    
    footer {
        font-size: 30px;
    }
}

.falas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    gap: 30px;
    
    span {
        color: #FF5C5C;
        font-weight: 700;
    }
    
    .dialogue {
        color: #83FFE9;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

h1 {
    color: #FF0000;
    
    text-shadow: 0 25px 0 0 #970000;
    
    margin-bottom: 30px;
    text-decoration: underline;
}

h3 {
    color: #FF4545;
}

button {
    display: flex;
    align-self: center;
    justify-self: center;
    
    padding: 10px 19px;
    
    border: 1px solid #FF009C;
    border-radius: 2rem;
    background: linear-gradient(120deg, #9B00FF, #FF94FF);
    
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    
    margin-bottom: 15px;
    
    transition: all .2s ease;
    
    a {
        text-decoration: none;
        color: white;
    }
}

button:hover {
    box-shadow: 0 0 10px 2px #FF00FB;
}

.animation {
    font-size: 40px;
    
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    
    text-shadow: 25px 30px 5px#FF0000;
    
    margin-bottom: 50px;
    
    animation: coracao 8s ease infinite;
}

@keyframes coracao {
    0%, 100% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
        
        text-shadow: -25px -30px 5px #FF0000;
    }
}
